<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buba.dao.RoleInfoMapper">
    <insert id="addRole">
        insert into roleinfo(roleName) values(#{roleName})
    </insert>
    <insert id="addRoleMenu">
        insert into roleright values
    <foreach collection="nodeIds" item="nodeId" separator=",">
        (null,#{roleId},#{nodeId})
    </foreach>
    </insert>
    <delete id="delRole">
        delete from roleinfo where roleId =#{roleId}
    </delete>
    <delete id="delRoleMenu">
        delete from roleright where roleId =#{roleId}
    </delete>

    <select id="selRoleInfo" resultType="com.buba.pojo.RoleInfo">
        select * from roleinfo
    </select>
    <select id="selRoleMenu" resultType="java.lang.Integer">
        select nodeId from roleright where roleId =#{roleId}
    </select>
</mapper>